.lead {
    display: flex;
    flex-direction: column;
    max-width: 984px;
    margin: 56px auto 0 auto;

}

@media screen and (max-width: 1080px) {
    .lead {
        margin: 48px 47px 0 47px;
    }
}

@media screen and (max-width: 1024px) {
    .lead {
        width: 928px;
        margin: 48px auto 0 auto;
    }
}

@media screen and (max-width: 928px) {
    .lead {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        margin: 48px 0 0 0;
    }
}