.cover__title {
    position: relative;
    max-width: 560px;
    max-height: 152px;
    margin: 0 0 32px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
}



@media screen and (min-width:320px) and (max-width:747px) {
    .cover__title {
        font-size: calc(32px + (72 - 32) * (100vw - 320px) / (767 - 320));
        line-height: calc(35px + (76 - 35) * (100vw - 320px) / (767 - 320));
        margin-bottom: calc(16px + (32 - 16) * (100vw - 320px) / (767 - 320));
        max-width: calc(288px + (560 - 288) * (100vw - 320px) / (767 - 320));
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        max-width: 288px;
        max-height: 70px;
        margin-bottom: 16px;
        font-size: 32px;
        line-height: 35px;
    }
}